Email & Website Finder Workflow Data Tables (1).json
{
  "name": "Email & Website Finder Workflow Data Tables",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        272
      ],
      "id": "9e8c485a-f01c-4c2c-bab3-a988e05a8c6c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1lnP5DapF5GlWcbRCrGVxyAS9p91k3hVANVahVXHOFbQ",
          "mode": "list",
          "cachedResultName": "contact_details 10 24 - contact_details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lnP5DapF5GlWcbRCrGVxyAS9p91k3hVANVahVXHOFbQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1512128208,
          "mode": "list",
          "cachedResultName": "contact_details 10 24 - contact_details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lnP5DapF5GlWcbRCrGVxyAS9p91k3hVANVahVXHOFbQ/edit#gid=1512128208"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "No"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        112,
        272
      ],
      "id": "6f3709ba-68de-46c5-b84d-9b9937c7ba49",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TZ5EBEkMih0HryWG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.Website.length }}",
                    "rightValue": 5,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "1d503be2-27e9-4382-8477-038fed37cf66"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bdc27c05-9103-4fb7-be8e-64208d3f33bc",
                    "leftValue": "={{$json.Website.length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1488,
        1120
      ],
      "id": "26a61df0-d6b1-459b-86f4-ab365946cbbd",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.70.174:1234/v1/completions",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"qwen/qwen3-coder-30b\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert data extractor for Lithuanian companies.\\n\\nUser input will be an array of objects.\\nEach object contains:\\n- row_number\\n- Company Name\\n- Address\\n\\nExample input:\\n[\\n  {\\n    \\\"row_number\\\": 956,\\n    \\\"Company Name\\\": \\\"Gimbulė\\\",\\n    \\\"Address\\\": \\\"Smėlynės g. 49, LT-35119 Panevėžys\\\"\\n  }\\n]\\n\\nYour task for each record:\\n1. Identify the company’s official website.\\n2. Identify only authentic, verified corporate email addresses.\\n   - No guesses\\n   - No personal emails (gmail, yahoo, outlook)\\n   - No generic non-domain-matching emails\\n3. If no authentic email or website is found, return an empty string \\\"\\\".\\n4. Do NOT invent or assume anything.\\n\\nRules:\\n- Output strict JSON only (no extra text).\\n- Always preserve the exact row_number from the user input.\\n- Process only the first record from the array for this execution (n8n will loop items automatically).\\n\\nOutput Format (strict JSON only):\\n{\\n  \\\"companyData\\\": [\\n    {\\n      \\\"Row_Number\\\": \\\"row number\\\",\\n      \\\"Company_Name\\\": \\\"company name\\\",\\n      \\\"Emails\\\": \\\"Email Address if available\\\",\\n      \\\"Website\\\": \\\"website_url\\\"\\n    }\\n  ]\\n}\\n\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.data.toJsonString()}}\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 800,\n  \"stream\": true\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -832
      ],
      "id": "63410fe5-7f57-45b5-b67c-5f3efcd60c09",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=company Name:{{ $json.CompanyName }}\nAddress:{{ $json.Address }}\nRow Number:{{ $json.id }}",
        "options": {
          "systemMessage": "You are an expert for Lithuanian companies.  Try to get website and contact email from Company Name , Company Address of user input.  Your task for each record: 1. Identify the company’s **official website**. 2. Identify only **authentic, verified email addresses**.    - No guesses   3. If no authentic email or website is found, return an empty string \"\". 4. Do NOT invent or assume anything.  Rules: - Output **strict JSON only** (no extra text). - Output Format (strict JSON only):  {  \"row Number\":\"rownumber\",\"Emails\": \"Email Address if available\", \"Website\": \"website_url\" }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        784,
        1120
      ],
      "id": "d8beb783-5d33-485c-9f03-04a690bdf3e1",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "=qwen/qwen3-vl-30b",
        "options": {
          "baseURL": "http://192.168.70.174:1234/v1/",
          "reasoningEffort": "medium",
          "timeout": 250000
        }
      },
      "id": "0ca9a9d9-7430-4acd-b5a4-5dc1680455d1",
      "name": "Run Model with Dunamic Inputs",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        856,
        1344
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "TGKyhYSvJXFd5twu",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "dNaD6B4DJSbhHzX2",
          "mode": "list",
          "cachedResultName": "contact_details 11 02 - contact_details",
          "cachedResultUrl": "/projects/1fXxpGvcIldzBF3N/datatables/dNaD6B4DJSbhHzX2"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Sheet_Row_Number",
              "keyValue": "={{ $json.row_number }}"
            },
            {
              "keyName": "CompanyName",
              "keyValue": "={{ $json.company_name }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SheetName": "contact_details 10 24 - contact_details",
            "CompanyName": "={{ $json.company_name }}",
            "Address": "={{ $json.col_2 }}",
            "Sheet_Row_Number": "={{ $json.row_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CompanyName",
              "displayName": "CompanyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sheet_Row_Number",
              "displayName": "Sheet_Row_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SheetName",
              "displayName": "SheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        336,
        272
      ],
      "id": "c7efd76d-3686-43f1-a48f-e24164ea28b6",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        1120
      ],
      "id": "bcdd230e-1e5a-44a6-89c1-07907ed91e94",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "dNaD6B4DJSbhHzX2",
          "mode": "list",
          "cachedResultName": "contact_details 11 02 - contact_details",
          "cachedResultUrl": "/projects/1fXxpGvcIldzBF3N/datatables/dNaD6B4DJSbhHzX2"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "CompanyName",
              "condition": "isNotEmpty"
            },
            {
              "keyName": "Status",
              "condition": "isEmpty"
            },
            {
              "keyName": "Website",
              "condition": "isEmpty"
            },
            {
              "keyName": "SheetName",
              "keyValue": "AA-contact_details_09_21 - contact_details"
            }
          ]
        },
        "limit": 2100
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        112,
        1120
      ],
      "id": "1b3d345e-f8f5-42df-bb51-072c84c5d7b4",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "batchSize": 15,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        1120
      ],
      "id": "1701113c-796b-4673-b4ab-23a4de2280d1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        560,
        1120
      ],
      "id": "141f7df5-ea31-4079-b23a-57afa044ce6d",
      "name": "Wait",
      "webhookId": "f0c7b519-c607-42db-acef-c4d87156a167"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "dNaD6B4DJSbhHzX2",
          "mode": "list",
          "cachedResultName": "contact_details 11 02 - contact_details",
          "cachedResultUrl": "/projects/1fXxpGvcIldzBF3N/datatables/dNaD6B4DJSbhHzX2"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Get row(s)').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "Not Found",
            "email": "Not Found",
            "Status": "Not Found"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CompanyName",
              "displayName": "CompanyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sheet_Row_Number",
              "displayName": "Sheet_Row_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SheetName",
              "displayName": "SheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1712,
        1216
      ],
      "id": "727a2369-801b-4c09-ac95-f078c7192b73",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "dNaD6B4DJSbhHzX2",
          "mode": "list",
          "cachedResultName": "contact_details 11 02 - contact_details",
          "cachedResultUrl": "/projects/1fXxpGvcIldzBF3N/datatables/dNaD6B4DJSbhHzX2"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.Email }}",
            "Status": "New Done",
            "Website": "={{ $json.Website }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "CompanyName",
              "displayName": "CompanyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sheet_Row_Number",
              "displayName": "Sheet_Row_Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SheetName",
              "displayName": "SheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1712,
        1024
      ],
      "id": "ac377b3f-ec3a-4bdc-aa1f-22ece93606bf",
      "name": "Update row(s)1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1936,
        1216
      ],
      "id": "dddad183-f976-4f70-8cb7-35aa9a81b070",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "72ce351c-9e50-4287-9d82-7779dcae83cf",
              "name": "Email",
              "value": "={{ $json.output.parseJson().Emails}}",
              "type": "string"
            },
            {
              "id": "36e37e10-e22c-4919-a208-32093fe34f7a",
              "name": "Website",
              "value": "={{ $json.output.parseJson().Website}}",
              "type": "string"
            },
            {
              "id": "ad3d800b-d51d-4164-9e9f-9bbbc44ef9d3",
              "name": "row Number",
              "value": "={{ $json.output.parseJson()['row Number']}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        1120
      ],
      "id": "485fbd63-75cd-4046-ad95-fa2c36f382ba",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "# Email & Website Finder Workflow\n## Created by: Naqash Thaheem\n\n### Overview\nThis workflow automates the extraction of email addresses and website information from company data using AI agents and Data Table integration.\n\n---\n\n### Main Components:\n\n**1. Schedule Trigger**\n- Automatically starts the workflow on schedule\n- Triggers data processing at set intervals\n\n**2. Google Sheets Reader**\n- Reads company names and addresses from spreadsheet\n- Fetches rows that need processing\n\n**3. Loop Over Items**\n- Iterates through each company record\n- Processes one item at a time\n- Outputs: 'loop' (continue) or 'done' (finished)\n\n**4. Wait Node**\n- Adds delay between requests\n- Prevents API rate limiting\n\n**5. AI Agent**\n- Uses AI to extract contact information\n- Connects to chat models and memory\n- Intelligently searches for emails/websites\n\n**6. OpenAI Model**\n- Processes extracted data\n- Dynamic input handling\n- Validates and formats results\n\n**7. Switch Node**\n- Routes data based on success/failure\n- Conditional logic for different outcomes\n\n**8. Update Operations**\n- Updates Google Sheets with results\n- Separate paths for success/error cases\n\n**9. Merge Node**\n- Combines results from both paths\n- Consolidates final output\n\n---\n\n### Workflow Logic:\n1. Schedule triggers automatic execution\n2. Read company data from Google Sheets\n3. Loop through each company\n4. Use AI to find email & website\n5. Validate and format data\n6. Update spreadsheet with results\n7. Handle errors appropriately\n8. Merge and finalize data\n\n---\n\n### Technical Details:\n- Uses Ollama (local LLM) for AI processing\n- OpenAI integration for validation\n- Google Sheets API for data storage\n- Error handling with conditional routing\n- Rate limiting protection built-in\n\n---\n\n**Status:** Active\n**Last Updated:** November 12, 2025",
        "height": 1808,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -976,
        560
      ],
      "typeVersion": 1,
      "id": "9e6d104e-e998-410e-9c65-7f0c3ec766b1",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Run Model with Dunamic Inputs": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a22ddf8f-b4d8-46d5-be37-ef1e2d9bb006",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2dd2e24a0309163e3dc7a20078e375f30a745867856e9ee487e9db71841eadfd"
  },
  "id": "ZLRkGSZNGS9DfoNz",
  "tags": []
}